@import "variables.scss";

.container {
  height: 100vh;
  padding: 0 $padding-phone;
  display: grid;
  grid-template-rows: max-content 1fr;

  img {
    height: 45px;
    border-radius: 50%;
  }
  .chatUsers {
    display: none;
  }

  .usersWrapper {
    h2 {
      display: flex;
      align-items: center;
      font-size: 24px;
    }
    .filters {
      display: none;
      span {
        margin-right: 1.5rem;
        background-color: #e6e6e6;
        border-radius: 2rem;
        padding: 0.15rem 0.7rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .cardsWrapper {
      display: none;
      .card {
        img {
          display: block;
          margin-top: 1rem;
        }
        .cardDetails {
          display: none;
        }
      }
    }
    .breakLine {
      height: 1px;
      width: 80%;

      background-color: #c2c2c2;
      margin: 0 auto;
    }
  }

  .chatWrapper {
    //   height: 100vh;
    h2 {
      font-weight: 500;
      text-transform: capitalize;
    }
    .chat {
      position: relative;

      .messagesWrapper {
        overflow: scroll;

        .messageClient {
          max-width: 80%;
          float: right;
          background-color: $primary-color;
          color: white;
          padding: 0.4rem 0.4rem 0.4rem 0.6rem;
          border-radius: 0.8rem 0.4rem 0 0.8rem;

          p {
            margin: 0;
          }
        }
        .messageSender {
          display: flex;
          img {
            height: 35px;
            margin-right: 0.4rem;
          }

          p {
            max-width: 80%;
            width: fit-content;
            padding: 0.4rem 0.6rem 0.4rem 0.4rem;
            border-radius: 0 0.8rem 0.8rem 0.4rem;
            border: 1px solid #b1b1b1;
          }
        }
      }

      form {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
